html {
  scroll-behavior: smooth;

}

@font-face { 
  font-family: ACME-Secret-Agent;
  src: url(./fonts/acmesa.ttf);
  font-size: 17px;

}

body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */    
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: #1f1f1f;
  scroll-behavior: smooth;

}

body::-webkit-scrollbar {
    width: auto;
}

body::-webkit-scrollbar-track {
background-color: #4d4d4d;

}

body::-webkit-scrollbar-thumb {
  background-color: #ed2553;
  border-radius: 100px;

}

hr {
  margin-top: 10px;
  border: 0;
  width: 900px;
  height: 3px;
  background-image: linear-gradient(to right, rgba(237, 37, 83, 0), rgba(237, 37, 83, 0.75), rgba(237, 37, 83, 0));

}

span {
  font-family: "ACME-Secret-Agent";
  font-weight: bold;
  color:#fff;
  opacity: 0%;
  transition: 0.2s;

}

span:hover {
opacity: 100%;

}

button {
  font-size: 17px;
  width: auto;
  min-width: 80px;
  height: 30px;
  border-radius: 20px;
  border: none;
  font-family: "ACME-Secret-Agent";
  outline:0;
  background-color: #4d4d4d;
  font-weight: bold;
  color: #d9d9d9;
  margin-right: 7px;
  margin-bottom: 10px;

}

button:active {
  color: #ed2553;

}


.buttons div {
margin-left: 140px;
margin-top: 5px;
font-size: 17px;

}

#EDI {
  margin: 5px;
  border-radius: 20px;
  border-top:none;
  border-bottom:none;
  border-left: 10px solid #4d4d4d;
  border-right: 10px solid #4d4d4d;
  outline: none;
  background-color: #4d4d4d;
  font-family: ACME-Secret-Agent;
  font-size: 17px;
  font-weight: bold;
  color: #d9d9d9;

}

#jumper {
  width: 65px;
  margin: 5px;
  border-radius: 20px;
  border-top:none;
  border-bottom:none;
  border-left: 10px solid #4d4d4d;
  border-right: 10px solid #4d4d4d;
  outline: none;
  background-color: #4d4d4d;
  font-family: ACME-Secret-Agent;
  font-size: 17px;
  font-weight: bold;
  color: #d9d9d9;

}

#imgSettings input {
  width: 300px;
  margin: 5px;
  border-radius: 20px;
  border-top:none;
  border-bottom:none;
  border-left: 10px solid #4d4d4d;
  border-right: 10px solid #4d4d4d;
  outline: none;
  background-color: #4d4d4d;
  font-family: ACME-Secret-Agent;
  font-size: 17px;
  font-weight: bold;
  color: #d9d9d9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}


img {
  margin-bottom: 40px;
  margin-left: 40px;
  border-radius: 5px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(28,28,28,0.55);
  -moz-box-shadow: 0px 2px 2px 0px rgba(28,28,28,0.55);
  box-shadow: 0px 2px 2px 0px rgba(28,28,28,0.55);

}

.things img {
  width: 200px;
  margin-bottom: 2px;
  margin:0px;

}

.things .flags {
  width: 50px;
  margin-right: 10px;
  box-shadow: none;

}

.info {
  display: flex;
  flex-direction: row;

}

#fav-list {
  margin-top: 150px;

}

h1 {
  font-size: 17px;
  font-family: "ACME-Secret-Agent";
  font-weight: bold;
  color: #fff;

}

#topPageNumber {
text-align: left;
margin-left: 25px;

}

#bottomPageNumber {
text-align: right;
margin-right: 25px;

}

a {
  font-size: 17px;
  text-decoration: none;
  font-family: "ACME-Secret-Agent";
  font-weight: bold;
  color: #fff;

}

a:active {
  color: #ed2553;

}

#imagens img {
  border-right: 7px #ed2553 solid;
  cursor: text;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

#ranger {
  width: 100px;
  cursor: w-resize;

}